/*font Variables*/
$primary-font: 'Raleway', sans-serif;
$title-font: 'Playfair Display', serif;


/*Color Variables*/
$primary-color: #e6f2ff;
$primary-color2: #f48464;
$title-color: #222222;
$text-color: #777777;
$offwhite: #f4f8ff; 


/*=================== fonts ====================*/
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700|Raleway:400,600');




